.header{
    background-color: rgb(1, 127, 255);
    height: 50px;
    list-style: 50px;
    width: 100%;
}
.header-logo{
    width: auto;
    display: inline-block;
    cursor: pointer;
}
.header-menu{
    color: white;
    line-height: 50px;
    float: right;
    padding-right: 10px;
    cursor: pointer;

}